@import "ui-variables";

@section-padding: 2 * @component-padding;
@large-font-size: 2 * @font-size;
@medium-font-size: 1.2 * @font-size;
@component-monospace: "SFMono-Regular",Consolas,"Liberation Mono",Menlo,Courier,monospace;

.search-view {
  overflow: auto;

  .text {
    color: @text-color;
  }

  .hidden {
    display: none;
  }

  section {
    width: 100%;
    padding: @section-padding;

    h1,h2.section-heading {
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      span {
        margin-left: @component-padding;
      }
    }
  }

  .control-panel {
    .project-selector {
      font-family: @component-monospace;
      padding-top: @component-padding;
      padding-bottom: @component-padding;
      cursor: pointer;

      span.active {
        color: @text-color-highlight;
      }
    }

    atom-text-editor[mini] {
      opacity: .75;
      .selection .region {
        background-color: contrast(@input-background-color, lighten(@input-background-color, 8%), darken(@input-background-color, 8%));
      }
    }

    atom-text-editor[mini].is-focused {
      opacity: 1;
      .selection .region {
        background-color: contrast(@input-background-color, lighten(@input-background-color, 12%), darken(@input-background-color, 12%));
      }
    }
  }

  .file-view {
    font-family: @component-monospace;

    a {
      color: @text-color;
    }
  }

  .content-view {
    font-family: @component-monospace;

    table {
      border-spacing: 0;
      border-collapse: collapse;
    }

    tr {
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      &:hover {
        background-color: @background-color-highlight;
      }
    }

    td {
      display: table-cell;
      padding: 0;
    }

    .file {
      position: relative;
      margin-top: 16px;
      margin-bottom: 16px;
      border: 1px solid @base-border-color;
      border-radius: @component-border-radius;
      color: @text-color;

      .file-header {
        padding: @component-padding;
        background-color: @background-color-selected;
        border-bottom: 1px solid @base-border-color;
        border-top-left-radius: @component-border-radius;
        border-top-right-radius: @component-border-radius;
      }

      .code-wrapper {
        overflow-x: auto;
        overflow-y: hidden;
        border-bottom-right-radius: @component-border-radius;
        border-bottom-left-radius: @component-border-radius;
      }

      .code-line-num {
        width: 1%;
        min-width: 50px;
        padding-right: @component-padding;
        padding-left: @component-padding;
        text-align: right;
        white-space: nowrap;
        vertical-align: top;
      }

      .code-line-marker {
        width: 1%;
        text-align: center;
        vertical-align: top;
      }

      .code-blob {
        position: relative;
        padding-right: @component-padding;
        padding-left: @component-padding;
        vertical-align: top;
        overflow: visible;
        word-wrap: normal;
        white-space: pre;
      }

      .match-separator {
        height: @component-padding;
        background-color: @background-color-selected;
      }
    }
  }
}
